$bgColor: #f8f8f8;
$hiddenMenuColor: #ffffff;
$text: #1b1c21;
$font: 'Roboto', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: $font;
  background-color: $bgColor;
  color: $text;
}

/* mobile styles */
.desktop-menu {
  display: none;
}

.header-text__desktop-button {
  display: none;
}
.site-nav {
  &__divider--mobile-hide {
    display: none;
  }
  &__divider--small-screen-hide {
    display: none;
  }
  &__button--hidden {
    display: none;
  }
}

.mobile-menu {
  left: -360px; /* Start off-screen */
  max-width: 280px;
  height: 100vh;
  background-color: white;
  padding: 20px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  z-index: 10;
}
.mobile-menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.mobile-menu__header-left {
  display: flex;
}
.mobile-menu__logo img {
  max-width: 97px;
  height: auto;
  padding-left: 4rem;
}
.mobile-menu__close-btn,
.mobile-menu__search-btn {
  background: none;
  border: none;
  cursor: pointer;
}
.menu__item {
  padding: 17px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21;
  border-left: 2px solid transparent;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
}
.menu__item:hover {
  opacity: 0.7;
  filter: brightness(0.9);
  padding-left: 10px;
}
.menu__item:hover::before {
  content: '';
  position: absolute;
  top: 0;
  width: 4px;
  height: 32px;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  left: -20px;
  background-color: #41f6d7;
  transform: translateY(40%);
}
.menu__footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-bottom: 2rem;
}
.menu__row {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}
.menu__row-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__contacts a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.menu__contacts-mailto:hover {
  opacity: 0.7;
  filter: brightness(0.9);
}
.menu__contacts-phone {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.menu__contacts-phone:hover {
  opacity: 0.7;
  filter: brightness(0.9);
}
.menu__language-selector {
  display: flex;
  gap: 15px;
  padding-top: 30px;
}
.menu__language {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
  text-transform: uppercase;
  color: #7e7e82;
  transition: all 0.3s ease;
  cursor: pointer;
}
.menu__language:hover {
  opacity: 0.7;
  filter: brightness(0.9);
}
.menu__language--active {
  color: #1b1c21;
}

// slide mobile menu in and out //
.mobile-menu.active {
  transform: translateX(360px);
  box-shadow: 16px 0px 52px 0px #0e185033;
}

.mobile-menu-2,
.mobile-menu-3 {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: -470px; /* Start off-screen */
  width: 450px;
  max-width: 100%;
  height: 100vh;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  z-index: 10;
}

// Slide mobile menu in //
.mobile-menu-2.active,
.mobile-menu-3.active {
  transform: translateX(-470px);
  box-shadow: -16px 0px 52px 0px #0e185033;
}
.feedback__header {
  display: flex;
}

.feedback__header::before {
  content: '';
  display: block;
  position: absolute;
  height: 40px;
  width: 3px;
  border-radius: 0 10px 10px 0;
  background: #41f6d7;
  transform: translate(-20px, 12px);
}
input,
textarea {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #eaeaea;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}

input::placeholder,
textarea::placeholder {
  font-family: $font;
  color: #b5b6bc;
  font-size: 16px;
  line-height: 24px;
}

.feedback__terms {
  font-family: $font;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #7e7e82;
}

.feedback__close-btn {
  margin-right: auto;
}

.feedback__button {
  display: flex;
  margin-left: auto;
}
.feedback__button-btn {
  background: none;
  border: none;
}

//fade main content when mobile menu is active//
.main-content {
  transition: opacity 0.3s ease-in-out;
}

.main-content.menu-active {
  opacity: 1;
  pointer-events: none;
}

/*
.menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 254, 254, 0.995); 
  z-index: 0; 
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
} */

/*
.menu-backdrop.active {
  opacity: 1;
  visibility: visible;
}
  */

.site-nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  width: 100%;
  max-width: 100;
  height: 88px;
  background-color: #ffffff;
  border-bottom: 1px solid #d9fff5;

  img {
    width: auto;
  }

  &__left {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }

  &__left img {
    padding: 10px 7px;
  }

  &__right-fixed {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 10px;
  }

  &__right-fixed img {
    padding: 0.4rem;
  }
  &__divider {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.1rem;
  }
}

.header-text {
  display: flex;
  flex-direction: row;
  width: 100vw;

  h1 {
    padding: 1.2rem;
  }

  &__desktop-button div {
    display: flex;
    align-items: center;
  }
}

.secondary-nav {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  align-items: center;
  width: 100%;
  padding-left: 0.5rem;
  padding-bottom: 10px;

  &__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  &__button {
    display: block;
    text-align: center;
    margin: 0.5rem;
    color: #7e7e82;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 0.5rem;
    width: auto;
    min-width: 180px;
    flex-shrink: 0;
    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
  }

  &__button {
    background-color: #333;
    border: 2px solid transparent;
  }

  &__button:hover {
    background-color: white;
    opacity: 0.7;
    border-color: #41f6d7;
    border-radius: 5% / 10px;
  }

  &__button:active {
    background-color: white;
    opacity: 0.7;
    border-color: 2px solid #b8ffec;
  }

  &__button:last-child {
    margin-right: 1.2rem;
  }

  a {
    text-decoration: none;
    background-color: transparent;
    margin: 0;
  }
  ul {
    padding-left: 0;
    margin-left: 10px;
  }
  li {
    list-style-type: none;
    display: list-item;
  }
}

.main-section {
  &__main-text {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    padding-left: 1.5rem;
  }
  &__main-image img {
    width: 100%;
    height: auto;
    display: block;
  }
  &__main-image {
    width: 100%;
    //padding: 1rem;
    box-sizing: border-box;
  }
}

p {
  margin: 0;
  margin-bottom: 20px;
  line-height: 18px;
}

.main-section__main-text p.hidden {
  display: none;
}

.main-section__main-text p.visible {
  display: block;
}
.main-section__read-more-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.main-section__read-more-button img {
  margin-right: 8px;
}

.main-section__read-more-button span {
  font-weight: 500;
}
//brands section//
.header-brands {
  border-top: 1px solid #d9fff5;
  padding: 1rem;
  background: linear-gradient(45deg, #f8f8f8, #ffffff);
}

.header-brands__text {
  margin: 0px;
  color: #7e7e82;
  text-transform: uppercase;
  text-wrap: wrap;
}
// Swiper variables //
.swiper {
  width: calc(100% - 1.5rem);
  height: 7rem;
  margin: 1rem;
}

.swiper-categories {
  width: calc(100% - 1.5rem);
  height: 14rem;
  margin: 1rem;
}

.swiper-slide {
  background: #f8f8f8;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 240px;
  object-fit: cover;
  transform: translateY(-20px);
}

.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
  height: 12px;
  width: 12px;
}

.swiper-pagination-bullet {
  background-color: #dddddd;
  height: 12px;
  width: 12px;
}

/* Brand selector variables */
.repair-brands {
  margin: 1.5rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.repair-brands__wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 2rem;
  row-gap: 1rem;
}

.repair-brands__expander {
  display: flex;
  width: 100px;
  padding: 1rem;
}
.repair-brands__expander-icon {
  padding-right: 0.5rem;
}

.repair-brands__expander-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: black;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  text-decoration: none;
}

.repair-brands__selector {
  transition:
    opacity 0.3s ease,
    max-height 0.3s ease;
  opacity: 1;
  overflow: hidden;
}

.repair-brands__selector.hidden {
  opacity: 0;
  max-height: 0;
}

.repair-brands__selector.visible {
  opacity: 1;
  width: 240px;
}

.repair-brands__expander {
  transition: opacity 0.3s ease;
}

table {
  border-collapse: collapse;
  border-radius: 5px;
  table-layout: fixed;
  width: 100%;
  background-color: #ffffff;
}

.table__content-wrapper {
  margin: 1.5rem;
  max-width: 1056px;
}

td {
  border: none;
  padding: 0;
  margin: 0;
}

tr:nth-child(1) {
  background-color: $bgColor;
  color: #7e7e82;
}

tr:nth-child(n + 3) td {
  border-top: 1px solid #eaeaea;
}

td {
  padding: 1rem;
}

.prices__description {
  margin: 1.2rem;
}

.prices__description-button {
  all: unset;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  margin-top: 4rem;
  min-width: 250px;
}

.prices__description-button-img {
  padding-bottom: 1.1rem;
}

.slider--categories {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 224px;
  height: 160px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px 6px;

  & img {
    width: 40px;
    transform: translate(-1rem, 2.5rem);
  }
  & p {
    transform: translate(1rem, -2.5rem);
    font-weight: 500;
  }
}

.slider--categories-desktop {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 224px;
  height: 160px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px 6px;

  & img {
    width: 40px;
    transform: translate(-1rem, 2.5rem);
  }
  & p {
    transform: translate(1rem, 1.5rem);
    font-weight: 500;
  }
}

.selector__boxes-order {
  padding-bottom: 2rem;
}
.prices__description-order {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 6px 6px;

  & img {
    width: 119px;
    transform: translate(3rem, -1.5rem);
  }
  & p {
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 18px;
  }
  & div {
    width: 85%;
    padding-top: 1rem;
  }

  & span {
    font-weight: 500;
    color: #7e7e82;
  }
}

//main page footer//
.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.2rem;
  gap: 10rem;
  margin-top: auto;
  border-top: 1px solid #d9fff5;
  color: #7e7e82;
  font-size: 14px;
}
.page-footer__text-right {
  text-align: right;
}
.page-footer__text {
  max-width: 320px;
}
.page-footer__text-copyright {
  display: block;
}

/*animations*/
.main-section__main-text--tablet {
  display: none;
}

.main-section__main-text--paragraph-2-3 {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, visibility 0s 0.5s, opacity 0.5s ease;
}

.expander-checkbox-1:checked ~ .main-section__main-text--paragraph-2-3 {
  max-height: 100vh;
  visibility: visible;
  opacity: 1;
  transition: max-height 0.5s ease, visibility 0s, opacity 0.5s ease;
}

.main-section__read-more-button {
  cursor: pointer;
}

.expander-checkbox-1:checked ~ .main-section__read-more-button .main-section__expander-text::before {
  content: "Read less";
}

.expander-checkbox-1 ~ .main-section__read-more-button .main-section__expander-text::before {
  content: "Read more";
}

.expander-checkbox-1:checked ~ .main-section__read-more-button img {
  transform: rotate(180deg);
}


/* Menu backdrop */
.menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.646);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  z-index: 5;
}

/* Menu styles */
.mobile-menu-1,
.mobile-menu-2,
.mobile-menu-3 {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 320px;
  background-color: white;
  transition: transform 0.3s ease;
  z-index: 10;
  overflow-y: auto;
}

.mobile-menu-1 {
  left: -320px;
}

.mobile-menu-2,
.mobile-menu-3 {
  right: -320px;
}

/* Target states for menus */
/*slide menu in from the left of the screen on click */
#menu1:target ~ .mobile-menu-1 {
  transform: translateX(320px);
  box-shadow: 16px 0px 52px 0px #0e185033;
}
/*slide menus in from the right of the screen on click */
#menu2:target ~ .mobile-menu-2,
#menu3:target ~ .mobile-menu-3 {
  transform: translateX(-470px);
  box-shadow: -16px 0px 52px 0px #0e185033;
}
/*apply opacity backdrop when mobile menus are clicked */
#menu1:target ~ .menu-backdrop,
#menu2:target ~ .menu-backdrop,
#menu3:target ~ .menu-backdrop {
  opacity: 1;
  visibility: visible;
}

/* Main content fade */
.main-content {
  transition: opacity 0.3s ease;
}

/* disables any mouse interactions with main-content, 
can’t click, hover, or interact with it while one of the menu items is active */
#menu1:target ~ .main-content,
#menu2:target ~ .main-content,
#menu3:target ~ .main-content {
  opacity: 0.5;
  pointer-events: none;
}

/* Close button positioning */
.mobile-menu__close-btn {
  position: absolute;
  top: 1.6rem;
  left: 1.5rem;
}

/* Ensure content is clickable when no menu is open */
.main-content {
  position: relative;
  z-index: 1;
}

/* Media query for larger screens */
@media (min-width: 768px) {
  .mobile-menu-2,
  .mobile-menu-3 {
    width: 440px;
    right: -440px;
  }

  #menu2:target ~ .mobile-menu-2,
  #menu3:target ~ .mobile-menu-3 {
    transform: translateX(-520px);
  }

  .main-section__main-text--mobile {
    display: none;
  }

  .main-section__main-text--tablet {
    display: block;
  }

  .main-section__main-text--paragraph-3 {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, visibility 0s 0.5s, opacity 0.5s ease;
  }
  
  .expander-checkbox-2:checked ~ .main-section__main-text--paragraph-3 {
    max-height: 100vh;
    visibility: visible;
    opacity: 1;
    transition: max-height 0.5s ease, visibility 0s, opacity 0.5s ease;
  }
  
  .main-section__read-more-button {
    cursor: pointer;
  }
  
  .expander-checkbox-2:checked ~ .main-section__read-more-button .main-section__expander-text::before {
    content: "Read less";
  }
  
  .expander-checkbox-2 ~ .main-section__read-more-button .main-section__expander-text::before {
    content: "Read more";
  }
  
  .expander-checkbox-2:checked ~ .main-section__read-more-button img {
    transform: rotate(180deg);
  }
}

/* large mobile styles minimum 400px */
@media screen and (min-width: 400px) {
  .mobile-menu {
    width: 350px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .repair-brands {
    display: none;
  }
  .mobile-menu-2,
  .mobile-menu-3 {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: -470px; /* Start off-screen */
    width: 450px;
    max-width: 100%;
    height: 100vh;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    z-index: 10;
  }

  .mobile-menu-2.active,
  .mobile-menu-3.active {
    transform: translateX(-470px);
    box-shadow: -16px 0px 52px 0px #0e185033;
  }

  .feedback__close-btn {
    position: relative;
    top: 0.3rem;
    left: 0.1rem;
    //margin-right: auto;
  }

  .feedback__button {
    display: flex;
    margin-left: auto;
  }
  .feedback__button-btn {
    background: none;
    border: none;
  }

  .table__content {
    display: none;
  }
  .page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
  }
  .page-footer__text {
    max-width: 320px;
    text-align: center;
  }

  .page-footer__text-copyright {
    display: block;
  }
}

.feedback__form {
  padding-top: 1.5rem;
}


/* Tablet screens */
@media (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }
  .swiper.swiper-initialized {
    display: none;
  }
  .header-text__desktop-button {
    display: none;
  }
  .site-nav {
    &__divider--small-screen-hide {
      display: none;
    }
    &__divider--mobile-hide {
      display: block;
    }
    &__button--hidden {
      display: block;
    }
  }
  .mobile-menu-2.active,
  .mobile-menu-3.active {
    transform: translateX(-520px);
    box-shadow: -16px 0px 52px 0px #0e185033;
  }
  .mobile-menu-2,
  .mobile-menu-3 {
    right: -520px;
    overflow: visible;
  }
  .feedback__close-btn {
    position: absolute;
    transform: translate(-90px, 10px);
    z-index: 20;
  }

  .feedback__header-wrapper {
    display: flex;
    justify-content: flex-start;
  }

  section {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .header-brands {
    border-top: 1px solid #d9fff5;
    padding: 1rem 1.5rem;
    background: linear-gradient(45deg, #f8f8f8, #ffffff);
  }

  .main-section {
    &__main-text {
      box-sizing: border-box;
      width: 100%;
      padding: 2rem;
      padding-left: 1.5rem;
    }

    &__main-image {
      width: 100%;
      padding: 2rem;
      box-sizing: border-box;
    }
  }
  
}



/* Desktop screens */
@media (min-width: 1120px) {
  .swiper {
    display: none;
  }
  .header-brands {
    border-top: 1px solid #d9fff5;
    padding: 1rem 1.5rem;
    background: linear-gradient(45deg, #f8f8f8, #ffffff);
  }

  .main-content__grid-container {
    display: grid;
    grid-template-columns: 320px minmax(800px, auto);
    width: 100vw !important;
    max-width: 1600px;
    margin: 0 auto;
  }

  .desktop-menu {
    box-sizing: border-box;
    width: 320px;
    background: $hiddenMenuColor;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 15px;
      margin-bottom: 30px;
    }
    &__header-left {
      display: flex;
    }
  }
  .header-text {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    justify-content: space-between;
    width: 100%;

    &__desktop-button {
      display: block;
      display: flex;
      align-items: center;
      padding: 10px;
    }
    &__desktop-button img {
      padding-right: 10px;
    }
  }

  h1 {
    margin-right: auto;
  }
  .header-text__request,
  .header-text__status {
    padding-right: 10px;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .site-nav__button site-nav__button--hidden {
    display: none;
  }
  .site-nav {
    display: none;
  }
}

.header-text__request,
.header-text__status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}